html {
  box-sizing: border-box;
  background-color: white;
}

.grid-container {
  padding: 1vw;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
    "A1 A2 A3 A4 A5 A6 A7 A8 A9 A10 A11 A12 A13";
}

.logo_infranet {
  grid-column: 6 / 9;
  grid-row: 1;
  margin: auto;
  width: 100%;
  max-width: 15vw;
  height: auto;
}


@media screen and (max-width: 520px) {
  .logo_infranet {
    visibility: hidden;
  }
}

.home,
.about,
.contact,
.login {
  margin: auto;
  text-shadow: 2px 2px 5px #ea00ff;
  font-size: 1.5vw;
  background-color: white;
  border-radius: 1vw;
  position: sticky;
  top: 1vw;
  size: 4vw;
  background-color: white;
  padding: 1vw;
  box-shadow: #ea00ff 0px 4px 8px -2px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 1vw;
}

@media only screen and (max-width: 480px) {

  .home,
  .about,
  .contact,
  .login {
    margin: auto;
    text-shadow: 2px 2px 5px #ea00ff;
    font-size: 4.5vw;
    background-color: white;
    border-radius: 1vw;
    size: 4vw;
    background-color: white;
    box-shadow: #ea00ff 0px 4px 8px -2px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 1vw;
  }
}


.home a:hover,
.about a:hover,
.contact a:hover,
.login a:hover {
  border-bottom: 3px solid #ea00ff;
}

.home {
  grid-area: A2;
  text-shadow: 2px 2px 5px #02ff06;
}

.about {
  grid-area: A4;
}

.contact {
  grid-area: A10;
}

.login {
  grid-area: A12;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.wrapper-left {
  grid-column: 1 / 8;
  grid-row: 3 / 6;
}

.welcome-text {
  grid-column: 3 / 12;
  grid-row: 2;
  margin: auto;
  color: #ea00ff;
  text-align: center;
  font-size: 4vw;
  font-family: Comic Sans MS, Comic Sans, cursive;
  font-weight: bold;
}

@media screen and (max-width: 520px) {
  .welcome-text {
    grid-column: 3 / 12;
    grid-row: 2;
    margin: auto;
    color: #ea00ff;
    text-align: center;
    font-size: 4vw;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-weight: bold;
    margin-top: -2vw;
  }
}


button,
input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1vw;
}

.screen {
  grid-column: 3 / 12;
  grid-row: 3 / 7;
  background: #3e3e3e;
  border-radius: 15px;
}

@media screen and (max-width: 520px) {
  .screen {
    grid-column: 2 / 12;
    grid-row: 3 / 7;
    background: #3e3e3e;
    border-radius: 15px;
  }
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 3vw;
}

@media screen and (max-width: 520px) {
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: #ea1d6f;
    font-size: 6vw;
  }
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.app-form-group {
  margin-bottom: 15px;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #b9134f;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}